* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: montserrat;
    display: block;
    flex-direction: column;
}

.section-padding {
    padding: 50px 0;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

header {
    overflow: hidden;
    height: 100vh;
    position: relative;
}

.vid-bg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.nav-area {
    background: rgba(0, 0, 0, 0.7);
    height: 60px;
    position: absolute;
    width: 100%;
}

.logo {
    margin: 10px 50px;
    height: 60px;
    float: left;
    color: #fff;
    font-size: 35px;
    text-transform: capitalize;
    font-family: Berkshire Swash;
}

.menu-area {
    float: right;
    list-style: none;
    margin: 20px;
}

.menu-area li {
    display: inline-block;
    margin: 0 5px;
}

.menu-area li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
}

.menu-area li.active a {
    color: deepskyblue;
}

.menu-area li a:hover {
    color: deepskyblue;
}

header .welcome-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-text h2 {
    color: #fff;
    font-size: 80px;
    margin: 0;
    font-family: Berkshire Swash;
}

.welcome-text p {
    color: #fff;
    font-size: 18px;
    width: 45%;
    line-height: 1.8;
    margin: auto;
}

.btn {
    text-decoration: none;
    background: #fff;
    border: none;
    color: #000;
    padding: 10px 30px;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 25px;
    display: inline-block;
    margin-top: 25px;
}

/* Main Section */

:root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
  }
  
  
  /* Timeline Container */
  .timeline {
    background: var(--primary-color);
    /* margin: 20px auto; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  /* Card container */
  .card {
    position: relative;
    max-width: 400px;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid orangered;
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: white;
    border-radius: 10px;
    padding: 10px;
  }
  .info p a{
    color: red;
    text-decoration: none;
  }
  
  /* Title of the card */
  .title {
    color: orangered;
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid orangered;
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }

/* ----------------------------Contact Us--------------- */
section {
    position: relative;
    z-index: 3;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .container {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .section-header {
    margin-bottom: 50px;
    text-align: center;
  }
  
  .section-header h2 {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .section-header p {
    color: rgb(0, 0, 0);
  }
  
  .row  {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .contact-info {
    width: 50%;
  }
  
  .contact-info-item {
    display: flex;
    margin-bottom: 30px;
  }
  
  .contact-info-icon {
    height: 70px;
    width: 70px;
    background-color: #fff;
    text-align: center;
    border-radius: 50%;
  }
  
  .contact-info-icon i {
    font-size: 30px;
    line-height: 70px;
  }
  
  .contact-info-content {
    margin-left: 20px;
  }
  
  .contact-info-content h4 {
    color: #1da9c0;
    font-size: 1.4em;
    margin-bottom: 5px;
  }
  
  .contact-info-content p {
    color: rgb(0, 0, 0);
    font-size: 1em;
  }
  
  .contact-form {
    background-color: #fff;
    padding: 40px;
    width: 45%;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  
  .contact-form h2 {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
  }
  
  .contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
  .contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  
  .contact-form .input-box input:focus ~ span,
  .contact-form .input-box textarea:focus ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
  }
  
  .contact-form .input-box input[type="submit"]
  {
    width: 100%;
    background: #00bcd4;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #00bcd4;
    transition: 0.5s;
  }
  
  .contact-form .input-box input[type="submit"]:hover
  {
    background: #FFF;
    color: #00bcd4;
  }
  
  @media (max-width: 991px) {
    section {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    .row {
      flex-direction: column;
    }
    
    .contact-info {
      margin-bottom: 40px;
      width: 100%;
    }
    
    .contact-form {
      width: 100%;
    }
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
  }
  footer .footer{
    padding: 10px;
    color: white;
  }
/*responsive*/

@media (min-width: 767px) and (max-width: 991px) {
    .welcome-text p {
        width: 95%;
    }
}

@media (max-width: 767px) {
    .logo {
        float: none;
        text-align: center;
    }

    .menu-area {
        float: none;
        text-align: center;
        margin: 0;
    }

    .menu-area li {
        margin: 0;
    }

    .menu-area li a {
        padding: 5px 2px;
        font-size: 12px;
    }

    .logo {
        margin: 5px 0;
        font-size: 35px;
        height: 45px;
    }

    .nav-area {
        height: 90px;
    }

    .welcome-text h2 {
        font-size: 28px;
        margin-bottom: 18px;
    }

    .welcome-text p {
        width: 90%;
        line-height: 1.5;
    }
}